[Unit]
Description=AP Monitoring Service
After=multi-user.target
Conflicts=getty@tty1.service
 
[Service]
Type=simple
ExecStart=/usr/bin/python3 /usr/bin/apmonit.py
StandardInput=tty-force
 
[Install]
WantedBy=multi-user.target
